.center {
  text-align: center;
}

.welcomemsg {
  text-align: center;
  font-size: 3.5vh;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  margin-top: 5%;
  margin-bottom: 0%;
}

.txt {
  text-align: center;
  background-color: aliceblue;
  opacity: 80%;
  width: 30%;
  font-size: 4vh;
  text-align: center;
  font-family: fantasy;
}
.dark-mode .txt{
  text-align: center;
  background-color: rgb(47, 60, 71);
  opacity: 80%;
  width: 30%;
  font-size: 4vh;
  text-align: center;
  font-family: fantasy;
}

.player1 {
  background-color: burlywood;
}

.player2 {
  background-color: chartreuse;
}


body {
  background-color: #FAFAFA;
  animation: color 8s linear infinite;
}

@keyframes load{
  0%{
    height: 0%;
  }
  50%{
    height: 100%;
  }
}

@keyframes PARTY{
  5%{
    opacity: 1;
  }
  50%{
    transform: rotate(90deg) scale(1);
  }
  60%{
    transform: rotate(-10deg) scale(1);
  }
  70%{
    transform: rotate(20deg) scale(1);
  }
  80%{
    transform: rotate(-10deg) scale(1);
  }
  90%{
    transform: rotate(30deg) scale(1);
    opacity: 1;
  }
  100%{
    transform: rotate(-180deg) scale(0);
    opacity: 0;
  }
}

@keyframes color{
  55%{
    background-color: #FAFAFA;
  }
  57%{
    background-color: #31D354;
  }
  95%{
    background-color: #31D354;
  }
}